<script src="/js/Hospedes/listar.js"></script>

<h1>Hóspedes</h1>

<div class="container-fluid">
    <div class="row"  style="margin-top:20px;">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link botao" href="/Hospedes/criar">
                            Cadastrar Hóspede
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botao my-2" href="/Hospedes/listar">
                            Listar Hóspedes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link botao" href="/Hospedes/alterar">
                            Alterar Hóspede
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-9 col-lg-10">
            <form class="form-info p-3 w-100">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>DataNasc</th>
                                <th>CEP</th>
                                <th>CPF</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="corpoTabela">
                            <% lista.forEach(function(value, index) { %>
                                <tr>
                                    <td>
                                        <%= value.hospedeId %>
                                    </td>
                                    <td>
                                        <%= value.hospedeNome %>
                                    </td>
                                    <td>
                                        <%= value.hospedeData %>
                                    </td>
                                    <td>
                                        <%= value.hospedeCPF %>
                                    </td>
                                    <td>
                                        <%= value.hospedeCEP %>
                                    </td>
                                    <td>
                                        <div>
                                            <button data-id="<%= value.hospedeId %>" title="Excluir"
                                                class="btn btn-danger btnExcluir"><i class="fas fa-trash"></i></button>
                                            <a href="/Hospedes/alterar/<%= value.hospedeId %>" title="Editar"
                                                class="btn btn-primary">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>