    <script src="/js/NF/notafiscal.js"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg mx-5 px-0 shadow-none rounded" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-1 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Início</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Nota Fiscal</li>
          </ol>
          <h6 class="font-weight-bold mb-0">Lançamento de Nota Fiscal</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
            </li>
            <li class="nav-item dropdown px-3 pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/team-2.jpg" class="avatar avatar-sm" alt="avatar" />
              </a>
              <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n2" aria-labelledby="dropdownMenuButton">
                <li class="mb-2">
                  <a class="dropdown-item border-radius-md" href="javascript:;">
                    <div class="d-flex py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                          <span class="font-weight-bold">Sair</span>
                        </h6>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4 px-5">
      <div class="row">
        <div class="col-12">
          <div class="card border shadow-xs mb-4">
            <div class="card-header border-bottom pb-0">
              <div class="d-sm-flex align-items-center">
                <div>
                  <h6 class="font-weight-semibold text-lg mb-0">Dados da nota fiscal</h6>
                  <p class="text-sm">Insira abaixo as informações constantes na nota fiscal</p>
                </div>
                <div class="ms-auto d-flex">
                </div>
              </div>
            </div>
            <div class="card-body px-3 py-3">
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="cnpj">CNPJ</label>
                      <select class="form-control" id="cnpj" name="cnpj">
                        <option value="" selected>Escolha o CNPJ</option>
                          <% for(let i = 0; i<lista.length; i++) { %>
                            <option value="<%=lista[i].pjCNPJ%>"><%= lista[i].pjCNPJ %> - <%= lista[i].pessoaNome %></option>
                          <% } %> 
                      </select>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="nome">Razão Social</label>
                      <input type="text" placeholder="" name="nome" id="nome" class="form-control" disabled/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="notaNum">Nº da Nota</label>
                      <input type="text" placeholder="" name="notaNum" id="notaNum" class="form-control" disabled/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="notaData">Data da Emissão da Nota</label>
                      <input type="date" placeholder="" name="notaData" id="notaData" class="form-control" disabled/>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="notaValor">Valor Total da Nota</label>
                      <div class="input-group">
                        <span class="input-group-text text-body">R$</span>
                        <input type=text placeholder="" name="notaValor" id="notaValor" class="form-control" disabled/>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;" id="divProduto" class="row">
        <div class="col-12">
          <div class="card border shadow-xs mb-4">
            <div class="card-header border-bottom pb-0">
              <div class="d-sm-flex align-items-center">
                <div>
                  <h6 class="font-weight-semibold text-lg mb-0">Dados do produto</h6>
                  <p class="text-sm">Insira abaixo as informações do produto</p>
                </div>
                <div class="ms-auto d-flex" >
                  <button id="botaoTabela" style="display:none !important"  type="button" class="btn btn-sm btn-dark btn-icon d-flex align-items-center me-2">
                    <span class="btn-inner--icon">
                      <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="d-block me-2">
                        <path d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z" />
                      </svg>
                    </span>
                    <span class="btn-inner--text">Gravar produto da nota</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body px-3 py-3">
              <form>
                <div class="row">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="codigoBarras">Código de barras</label>
                      <select class="form-control" id="codigoBarras" name="codigoBarras">
                        <option value="" selected>Escolha o código de barras</option>
                          <% for(let i = 0; i<codigo.length; i++) { %>
                            <option value="<%=codigo[i].prodCodigoBarras%>"><%= codigo[i].prodCodigoBarras %> - <%= codigo[i].prodNome %></option>
                          <% } %> 
                      </select>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="produtoNome">Nome do produto</label>
                      <input type="text" class="form-control" id="produtoNome" name="produtoNome" placeholder="" disabled>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="produtoQuantidade">Quantidade</label>
                      <input type="number" min="1" placeholder="" id="produtoQuantidade" name="produtoQuantidade" class="form-control" disabled/>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="produtoValor">Valor unitário</label>
                      <div class="input-group">
                        <span class="input-group-text text-body">R$</span>
                        <input type=text id="produtoValor" name="produtoValor" class="form-control" disabled/>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div style="display: none;" id="divNotaFiscal" class="row">
        <div class="col-12">
          <div class="card border shadow-xs mb-4">
            <div class="card-header border-bottom pb-0">
              <div class="d-sm-flex align-items-center mb-3">
                <div>
                  <h6 class="font-weight-semibold text-lg mb-0">Itens da nota fiscal</h6>
                  <p class="text-sm mb-sm-0">Lista de itens da nota fiscal</p>
                </div>
                <div class="ms-auto d-flex">
                  <button id="botaoFinalizar" type="button" class="btn btn-sm btn-dark btn-icon d-flex align-items-center mb-0 me-2">
                    <span class="btn-inner--icon">
                      <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="d-block me-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                      </svg>
                    </span>
                    <span class="btn-inner--text">Finalizar nota fiscal</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body px-0 py-0">
              <div class="table-responsive p-0">
                <table class="table align-items-center justify-content-center mb-0">
                  <thead class="bg-gray-100">
                    <tr>
                      <th class="text-secondary text-xs font-weight-semibold opacity-7">Produto</th>
                      <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Quantidade</th>
                      <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">valor Unitário</th>
                      <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Valor Total</th>
                      <th class="text-secondary text-xs font-weight-semibold opacity-7 ps-2">Ações</th>
                      <th class="text-center text-secondary text-xs font-weight-semibold opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody id="corpoTabela">
                  </tbody>
                </table>
              </div>
              <div class="border-top py-3 px-3 d-flex align-items-center">
                <p class="font-weight-semibold mb-0 text-dark text-sm"></p>
                <div class="ms-auto">
                  <button id="btnValorTotalDaNota" class="btn btn-sm btn-white mb-0">Valor Total da Nota - R$</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-xs text-muted text-lg-start">
                Copyright
                © <script>
                  document.write(new Date().getFullYear())
                </script>
                Corporate UI by
                <a href="https://www.creative-tim.com" class="text-secondary" target="_blank">Creative Tim</a>.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-xs text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-xs text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-xs text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link text-xs pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>